<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Michelle's Tyres</title>
	<!-- CDNs -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<!-- popper.js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/1cac996afd.js" crossorigin="anonymous"></script>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="..\Public\Stylesheets\faq.css">
</head>

<body>

		<!-- Navbar -->
		<nav class="navbar navbar-nav navbar-expand-xl navbar-dark uigradient">
				<a class="navbar-brand" href="#"><img class="iconBrand" src="https://image.flaticon.com/icons/svg/2137/2137887.svg" alt="">Michelle's Tyres</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Tyre Replacement</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Wheel Balancement</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Wheel Alignments</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Puncture Repair</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">After-Hours Callout</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Emergency Callout</a>
						</li>
						<li class="nav-item dropdown float-right">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								About Us
							</a>
							<div class="dropdown-menu toggle bg-dark" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Specials</a>
								<a class="dropdown-item" href="#">Brands</a>
								<a class="dropdown-item" href="#">FAQ</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Locate</a>
								<a class="dropdown-item" href="#">Contact</a>
								<a class="dropdown-item" href="#">Privacy Policy</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="jumbotron uigradient">
					<h1 class="display-4">Frequently Asked Questions</h1>
					<h2>Have a question? It may be answered here!</h2>
					<hr class="my-4">
					<div class="container">
						<div class="accordion" id="#accordion">
							<div class="card">
								<div class="card">
									<div class="card-header"  id="headingOne">
										<h2 class="mb-0">
											<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
												<p>What are your opening hours?</p> 
											</button>
										</h2>
									</div>
									<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											<p>We operate between 5pm and 11pm on weekdays and 9am and 11pm on weekends.</p>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												<p>Where are you located?</p> 
											</button>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body">
											<p>We are located in Knox, Victoria; in Melbourne's Eastern Suburbs.</p>
										</div>
									</div>
								</div>
								<div class="card-header"  id="headingThree">
									<h2 class="mb-0">
										<button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<p>What fitting services are offered at Michelle's Tyres?</p> 
										</button>
									</h2>
								</div>
								<div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#accordion">
									<div class="card-body faq-card">
										<p>If you have selected to have your tyres fitted by our partner Eastside Tyres your order details will be passed onto a team member at Eastside Tyres. After placing your order you can contact Eastside Tyres to organise a booking to have your new tyres fitted!</p>
										<p>Eastside Tyres can replace a wide range of passenger tyre sizes, including 13" inch, right up to 19" inch tyres.</p>
										<p>Additionally, we can send your tyres over to Eastside Tyres where you can have your tyres fitted immediately upon collection!</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingFour">
									<h2 class="mb-0">
										<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											<p>Can you fix tyre punctures?</p>
										</button>
									</h2>
								</div>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
									<div class="card-body">
										<p>Yes - Our partners over at Eastside Tyres handle puncture repairs, depending on the size of the puncture</p>
										<p>However, if the puncture is located on the sidewall or is larger than 6mm, it is strongly reccomended that you replace the tyre</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingFive">
									<h2 class="mb-0">
										<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											<p>I don't know anything about tyres!</p>
										</button>
									</h2>
								</div>
								<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
									<div class="card-body">
										<p>Don't worry, we can provide a wealth of information regarding tyres, tyre care and advice on getting back onto the road. Our partners over at Eastside Tyres are industry specilists and can answer any questions you may have!</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingSix">
									<h2 class="mb-0">
										<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											<p>How long does it take to process my order once purchased?</p>
										</button>
									</h2>
								</div>
								<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
									<div class="card-body">
										<p>Once we have received payment confirmaiton and recieved your purchase order, we will work as soon as possible to process the order. Orders will typically be processed on the same day.</p>
										<p>If you have chosen to use Sendle as your postage service, orders will be packaged and sent typically on the same day you place your order. Delivery can take up to 7 business days.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header" id="headingSeven">
									<h2 class="mb-0">
										<button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
											<p>What is the best method to contact Michelle's Tyres?</p>
										</button>
									</h2>
								</div>
								<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
									<div class="card-body">
										<p>We are very active on Facebook, and typically reply over Facebook Messenger within 30 minutes. Alternatively, we can always be contacted by email!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer uigradient">
				<ul class="nav justify-content-center">
					<li class="nav-item socials">
						<a href="https://www.facebook.com/jamesbnr32/"><i class="fab fa-facebook-square fa-3x" style="color: whitesmoke;"></i></a>
					</li>
					<li class="nav-item socials">
						<a href="https://www.instagram.com/eastside_tyres/"><i class="fab fa-instagram fa-3x" style="color: whitesmoke;;"></i>
					</li>
					<li class="nav-item socials">
						<a href="#"><i class="fas fa-envelope fa-3x" style="color: whitesmoke;"></i></a>
					</li>
				</ul>
				<div> 
					<p>Michelle's Tyres | Proud partners with EastSide Tyres | Knox, Victoria, Australia | Copyright © 2020 Eastside Tyres</p>
				</div>
			</div>

	<script src="eastside.js"></script>
</body>

</html>